.menu {
  text-align: right;
}

h1 {
  text-align: center;
}

td, th {
  text-align: center;
}

.date-selector {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 400;
}

.date-selector:focus {
  outline: none;
  border: 1px solid rgb(51, 195, 240);
}

.width-80 {
  width: 80%;
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
}

.button-submit {
  color: white;
  background-color: #1EBA88;
}

.button-submit:hover {
  color: white;
}

.button-delete {
  font-size: 20px;
  color: #FF2C54;
  text-decoration: none;
}

.button-delete:hover {
  color: #FF2C54;
  cursor: pointer;
}

.button-edit {
  font-size: 20px;
  /* color: #FECA1F; */
  color: #1BC106;
  text-decoration: none;
}

.button-edit:hover {
  /* color: #FECA1F; */
  color: #1BC106;
  cursor: pointer;
}

.button {
  width: 130px;
  padding: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  text-align: center;
}

header div {
  width: 156px;
}

.row {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center;
  /* border: 1px solid black; */
}

.row * {
  margin: 5px 10px;
  flex: 1;
  /* border: 1px solid red; */
}

.header-title {
  font-size: 20px;
}

#books {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}

.book {
  /* margin: 0 10px; */
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}